@font-face {
  font-family: 'Amarillo';
  src: url('fonts/HelveticaLTStd-Bold.ttf') format('truetype'),
       
  font-weight: bold;
  font-style: normal;
}





::-moz-selection {
  background: #860A0B;
  color: #860A0B; }

::selection {
  background: #860A0B;
  color: #860A0B; }

::moz-election {
  background: #860A0B;
  color: #860A0B; }

::-webkit-scrollbar {
  background: #860A0B;
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #860A0B;
  width: 8px;
  border-radius: 20px; }
