
//Contenedor principal del home
.bg{
	position: relative;
	background-image: url("../img/Background.png");
  background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	z-index: 10;
}
main	
{
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;

	//Lienzo del chocolate
	.container-canvas
	{
		position: relative;
		canvas.chocoCanvas{
			margin: 0 auto;
		    padding-bottom: 0;
		    width: auto;
		    max-width: 960px !important;
		    height: auto;
		    display: block;
		    max-height:800px;

		}
		figure.imgGenContainer
		{
			.choco1
			{
				width: 90%;
			    margin: 0 auto;
			    display: block;
			}
		}

		.loader{
			display: none;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: rgba(133, 2, 2, 0.694);
			i{
				color: white;
				position: absolute;
				top: 25%;
				left: 50%;
				font-size: 4em;
				transform: translate(-25%, -50%);
			}
		}

	}

	canvas.imgGenContainer{
		// background: url(../img/Chocolate.png) no-repeat; 
		background-position: cover;
	}

	//Sección que contiene todo el contenido
	section.section-principal
	{
		//Copy de la dinàmica
		article.copy-principal 
		{	
		    font-family: 'Montserrat', sans-serif;
		    height: auto;
		    margin: 0 auto;
		    display: block;
		    
			
			//Texto en montserrat bold
			p.text-center
			{
				color:white;
				font-size: 1.3em;
				font-weight:900 !important;
				
				
				span.text-black-regalo
				{
					font-size: 1.3em;
					font-weight:900 !important;
				}

				span.text-light-viñeta
				{
					color: red;
				    font-size: 1.2em;
				    background: url(../img/title-vineta.png) no-repeat center bottom;
				    background-size: 100%;
				    z-index: 1;
				    padding: 3% 5%; 
				    font-weight: 300
				}
			}
		}

		//Navegacion de chocolates


		nav.nav-chocolates
		{
			width: 100%;
			
			ul.nav
			{
				max-width: 100%;
				max-width: 480px;
				margin: auto;
				a{
					li
					{
						margin: 0 5px;
						width:80px; 
						height:80px;
						background-size: contain;
					}
					&:nth-child(1){
						background: url(../img/especial.png)no-repeat center;
						background-size: contain;
					}
					&:nth-child(2){
						background: url(../img/rikiti.png)no-repeat center;
						background-size: contain;
					}
					&:nth-child(3){
						background: url(../img/galak.png)no-repeat center;
						background-size: contain;
					}
					&:nth-child(4){
						background: url(../img/leche.png)no-repeat center;
						background-size: contain;
					}
					&:nth-child(5){
						background: url(../img/cri-cri.png)no-repeat center;
						background-size: contain;
					}
				}
			}
		}

		
	}

	.share-container{
		a, button{
			font-size: 1em; 
			font-weight: normal;
			font-family: 'Montserrat', Sans !important;
			&:hover{
				cursor: pointer;
			}
		}
	}
	

body{display: none !important; } 
.downloader{
	display: none; 
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(133, 2, 2, 0.694);
	i{
		color: white;
		position: absolute;
		top: 25%;
		left: 46%;
		font-size: 1.5em;
		transform: translate(-25%, -46%);
	}
}


@media all and(max-width: 700px){
	#guardaCanvas{display: none !important;}
	#guardaCanvasIE{display: block !important;}  
}

//Large Desktops
	@media #{$imac}
	{
		.section-principal
		{
			position: relative;
	    	margin-top: 10vh;
		}
		.contenedor-copyfinal
		{
			position: relative;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    padding-bottom: 5%;
		    padding-top: 5%;
		    font-size: .8em;
		}
		
	}

	@media #{$widescreen}
	{
		.article.copy-principal
		{
			font-size: .5em;
		}
		
	}

	@media #{$widescreen-h}
	{
		
		
	}

	
}
