//Fuentes a utilizar, Montserrat Black para los énfasis, Medium para los textos del input, y light para títulos menos importantes, Amarillo para el Canvas
@font-face {
  font-family: 'Amarillo';
  src: url('../fonts/Amarillo.eot');
  src: url('../fonts/Amarillo.woff2') format('woff2'),
       url('../fonts/Amarillo.woff') format('woff'),
       url('../fonts/Amarillo.ttf') format('truetype'),
       url('../fonts/Amarillo.svg#Amarillo') format('svg'),
       url('../fonts/Amarillo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

//Fuente en Montserrat Black
span.text-black {font-weight:900 !important;font-size:2em;}

//Fuente en Montserrat-Light
.text-mlight {font-size: 1.8em; font-weight: 300;color:white;}

.text-light {font-weight:300 !important;}


//Estilos del scrollbar

::-webkit-scrollbar{
  background: #963639;
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #640c0f;
  width: 8px;
  border-radius: 20px;
}


//Estilos de los enlaces

a{color:white !important;}
i:hover {color:tomato;}



//Flechas derecha e izquierda

.fa-caret-right {color:white !important; font-weight:bolder; font-size:1.6em;}

.fa-caret-left {color:white !important; font-weight:bolder; font-size:1.6em;}

//Estilos del body

//Imagen de fondo del body



body {
  // background-image: url("../img/Background.png");
  background: #ea5157; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ea5157 1%, #9c1115 62%, #351000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ea5157 1%,#9c1115 62%,#351000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ea5157 1%,#9c1115 62%,#351000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5157', endColorstr='#351000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
    background-size: 100% 100%;
  background-attachment: fixed;

}

.section-principal{
  margin-top: 10vh; 
}

.parrafo{
  margin: 2em auto; 
  width: 80%;
  p{
    display: inline-block;
    vertical-align: middle;
    width: 79%;
    text-align: left;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1em;
    margin: 0;
  }
  span{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    max-width: 90px;
    color: yellow;
    margin: 0;
    line-height: 1em;
    strong{
      font-size: 2em;
      margin: 0;
    }
  }
  @media all and(max-width: 600px) {
    p, span{
      display: block;
      margin: 0 auto;
      text-align: center !important;
    }
    span{
      margin: 20px auto;
      width: 100%;
      text-align: center !important;
      line-height: 20px !important;
      strong{
        font-size: 3em;
      }
    }
  }
}

//Estilos del carousel

.carousel
{
  text-align: center;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    color:white;
    font-style:normal;
    width: 100%;
} 
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.imgGenContainer{
  transform: rotateZ(-6deg);
}

.imgGenContainer{
  padding: 0 !important;
  
}

//Formulario de boostrap

.form-control{border-radius:0 !important;}
.form-group {width: 100% !important; margin: 0 auto !important;}

#inputChoco 
{
  text-transform:capitalize;
}


//Botón para previsualizar canvas

.btn-gris{background:#4f5559; color:white; text-transform:lowercase; width: 100% !important; font-weight:500;}

.btn-gris:hover{opacity:.8; cursor:pointer;}


//Botonera blanca
.share-container
{
  display: flex; 
  justify-content: space-around;

  > div{
    display: flex; justify-content: center; align-items: center;
    width: 30% !important;
  }
}

/* Tooltip */
.tooltip > .tooltip-inner {
    background: transparent;
    border:1px solid white;


}

#myTooltip
{
  width: 30px; 
  height: auto; 
  background: white; 
  color: red; 
  border-radius: 50%; 
  padding: 0;
  z-index:1;
}


//Imagen generada

#pintadoTexto, .pintadotexto {
  background:transparent !important;
  color:white;
  font-size:10px;
}

imgGenContainer{display:block;}

//botonoes
.downbut{
  position: relative;
}


//Texto rss
span.rrss-container{
  width: 100% !important;
    margin: 0 auto !important;
    display: block !important;
}

span.rrss-text
{
  display:inline !important;

}

.c-holder{
  position: relative;
  width: 100vw;
  height: 100vh;
	top: 0;
  left: 0;
  background: rgb(48, 0, 0);
	i{
		position: absolute;
		top: 3vh;
		left: 2vh;
		font-size: 2em;
    color: white;
    
  }
    @media all and(min-width: 700px) {
      padding-top: 8vh;
      img{
        margin: 0 auto;
        margin-top: 2vh;
        height: 80vh;
        width: initial !important;
        display: block;
        position: relative;
      }     
    }
}
