//phones
@media #{$phone} 
{
	/*Estilos desordenados por falta de tiempo*/

	.carousel-control-prev {
	    top: -55px !important;
	}

	.carousel-control-next {

	    top: -55px !important;
	}
		
	#pintadoTexto {
		background:transparent !important;

	}

	//Copy principal
	article.copy-principal
	{
		margin-top: 10vh !important;
	}
	
	//Va en montserrat black
	span.text-black 
	{
		font-weight:900 !important;
		font-size:1em !important;
		

	}

	//Montserrat-Light
	span .text-mlight
	{
	    font-size: 1em !important;
	    font-weight: 900 !important;
	    color:white;
	}

	span.text-mlight-mobile
	{
		 font-weight: 900 !important;
	    
	}

	span, p.text-mlight
	{
		font-size: 1em !important;
		line-height: 2.5 !important;
	}

	span.text-black-regalo
	{
		font-size: 1em !important;
		font-weight:900 !important;
	}

	span.text-light-viñeta
	{
		padding: 4% !important;
		font-size: 1em !important;
	}
	

	//Flecha hacia abajo
	figure.arrow-down
	{
		img
		{
			width:25%;
		}
		
	}


	//Canvas

	canvas.chocoCanvas {
    
    	width: 90% !important;
    
	}
	
	.choco1
	{
		width:100% !important;
	} 


	//Botón de previsualizar canvas

	.btn-gris{margin-top:2vh;}
	.btn-gris:hover {opacity: .8;}


	//Botonera

	.share-container 
	{
		display: inline-block;
	}
	
	#goBack{margin-top:1vh; margin-bottom:1vh;}

	/* Tooltip */
	.tooltip > .tooltip-inner {
	    background: rgba(0,0,0,0.8) !important;
	}

	
	//RRSS en mobile
	.rrss-container
	{
		display: inline-block !important;
    	width: 100% !important;
    	a
		{
			font-size: 2em;
		}

	}
	span.rrss-text
	{
		display:none !important;

		

	}
}

